body {
    margin: 0;
    background-image: url(images/background-header.png);
    color: black;
    font-family: "Sora", sans-serif;
    height: 100%;

}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to bottom, pink, purple);
    background-size: cover;
    height: 6.5em;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

header img {
    display: flex;
    align-content: center;
    max-height: 100%;
    height: auto;
    width: auto;
    border: solid black 2px;
    border-radius: 1em;
}

header a img {
    height: 90%;
    width: 6em;
    margin-top: 0.2em;
}

section {
    height: auto;
}


.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.upload h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 1em;
    padding: 2em;
}

input {
    text-align: center;
}

input,
textarea {
    border-radius: 1em;
}

input:focus,
textarea:focus {
    border: 2px solid black;
    outline: none;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    height: 3em;
}

footer img {
    display: flex;
    align-content: center;
    height: auto;
    width: auto;
    max-width: 3em;
    max-height: 100%;
}

footer a img {
    height: auto;
    width: auto;
}

footer a {
    justify-content: center;
    align-content: center;
}

.GaleriePhoto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 1em;

}


.GaleriePhoto img {
    max-width: 100%;
    max-height: 20em;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 0 auto;


}

.photo {
    max-width: 20em;
    height: 20em;
    margin-bottom: 2em;
}

.redir-info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.Info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Info h1 {
    font-size: 3em;
}

.border-text {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    background-color: black;
}

.Info .border-text p {
    font-size: 2em;
    color: white;
}

.bouton-nav {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 0.5em;
    padding-bottom: 1em;
}

.bouton-nav-galerie {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 0.5em;
    padding-bottom: 1em;
    padding-top: 2em;
}

@media (min-width: 1000px) {

    .GaleriePhoto {
        display: grid;
        justify-items: center;
        gap: 3em;
        grid-template-columns: none;

    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: center;
    }

    .photo {
        display: flex;
        align-items: center;
        margin-right: 1em;
        margin-left: 1em;
    }
}