body {
    margin: 0;
    background-image: url(images/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: "Spinnaker", sans-serif;
    height: 100%;

}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to bottom, pink, purple);
    background-size: cover;
    height: 6.5em;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

header img {
    display: flex;
    align-content: center;
    max-height: 100%;
    height: auto;
    width: auto;
    border: solid black 2px;
    border-radius: 1em;
}

header a img {
    height: 90%;
    width: 6em;
    margin-top: 0.2em;
}

section {
    height: auto;
}


.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.upload h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 1em;
    padding: 2em;
}

input {
    text-align: center;
}

input,
textarea {
    border-radius: 1em;
}

input:focus,
textarea:focus {
    border: 2px solid black;
    outline: none;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;
    height: 3em;
}

footer img {
    display: flex;
    align-content: center;
    height: auto;
    width: auto;
    max-width: 3em;
    max-height: 100%;
}

footer a img {
    height: auto;
    width: auto;
}

footer a {
    justify-content: center;
    align-content: center;
}

.GaleriePhoto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 1em;

}


.GaleriePhoto img {
    max-width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 0 auto;
    display: flex;


}

.photo {
    max-width: 15em;
    max-height: 15em;
    margin-bottom: 6em;
}

.photo p {
    display: flex;
    flex-direction: column;
}

.redir-info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
}

.remplir {
    height: 60vh;
}

.Info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.Info h1 {
    font-size: 3em;
}

.border-text {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    background: linear-gradient(to right, pink, purple);
}

.Info .border-text p {
    font-size: 2em;
    color: white;
}

.bouton-nav {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 0.5em;
    padding-bottom: 1em;
}

.bouton-nav-pad {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 0.5em;
    padding-bottom: 1em;
    padding-top: 2em;
}


.error-message {
    padding: 30px;
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.error-message h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.error-message p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.btn-back {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

.btn-back:focus {
    outline: none;
}


@media (min-width: 1000px) {

    .GaleriePhoto {
        display: grid;
        justify-items: center;
        gap: 3em;
        grid-template-columns: none;

    }

    .galerie {
        display: flex;
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: center;
    }

    .photo {
        display: flex;
        align-items: center;
        margin-right: 1em;
        margin-left: 1em;
        flex-direction: column;
        max-width: 20em;
        max-height: 20em;
    }
}